
h1{
    color:blue
}    
*{
    border:solid
}

.header{
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.footer{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
}

.name{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
h2,p{
    text-align: center;
}
